.row
  .span7
    %h2#header_list=t('find_audio')
  .span7
    = render 'playlists_nav'
.row.max-height
  .span7.searching
    .span6
      %ul.playlist.search
        = render partial: 'audios', locals: { audios: @audios }
  .span7.scrollable.scroll
    .span6
      %ul#drop.playlist.songs-all
        - unless @list == nil
          = render partial: 'songs/songs', locals: { songs: @list.songs }



