/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require demo
 *= require optional-annotations
 *= require optional-themes
 *= require page-player
 *= require_self
 *= require_tree 
 */

html { 
  height:100%;
  overflow: hidden; 
}
body {
  height: 100%;
  min-height: 600px;
  overflow: none;
  align: center;
}


footer{
  height: 70px;
  margin-top:10px;
  border-top: 2px black solid;
  position: relative;
  top: -55px;
  p{
    margin:5px;
    float:right;
    z-index: 1000;
  }

}

.plus{
  float:right;
  background: none;
  position:relative;
  right: 5px;
  top:-15px;
  border: none;
  z-index: 10;
  opacity: 0.5;
}.plus:hover{
  opacity:1.0;
}

ul.playlist li{
  padding: 0;
}

.pad{
  height: 100px;
}
.title_session{
  display:block;
  min-width:300px !important;
}


